/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Color
Main: #087f5b
Grey: #343a40
*/


/* Main Components */
.container{
    width: fit-content;
    margin: 20rem auto;
    font-family: 'Roboto', sans-serif;
    
}


.Accordian{
    box-shadow: 1px 2px 10px grey;
    display: grid;
}

.head{
    display: flex;
    justify-content: space-between;
    
}

.head div{
    margin: 0 30px;
}

.icon{
    align-self: center;
}

.comb-1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

.Accordian-Body{
    display: grid;
    row-gap: 50px;
    align-items: center;
}

.Accordian{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: flex-start;
}

.ans{
    margin: 0 30px;
    overflow-y: hidden;
    
}

.Accordian-Body{
    margin: 0 100px;
}

/* Typography */

.number{
    font-size: 32px;
    font-weight: 800;
    color: #adb5bd
}

.faq{
    font-size: 32px;
    font-weight: 800;
}

.ans{
    font-weight: 500;
}

ul{
    color: #adb5bd
}

.active{
  color: #63e6be;   
}
